<h1>本の貸出</h1>

<%= simple_form_for(@book, :url => rentals_path) do |f| %>
  <%= f.input :id %>
  <input class="btn btn-danger" type="button" id="info_search_button", value="検索">
  <b id="error_msg">  </b>
  <hr>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :publisherName %>
  <%= f.input :id %>
  <%= f.button :submit, id: "rental_button", disabled: "disabled", :classs => 'btn-primary' %>
<% end %>
