<p id="notice"><%= notice %></p>

<h1>本の詳細</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
    <td width="100", class="info">タイトル</td> <td><%= @book.title %></td>
    </tr>
    <tr>
    <td width="100", class="info">著者</td> <td><%= @book.author %></td>
    </tr>
    <tr>
    <td width="100", class="info">出版社</td> <td><%= @book.publisherName %></td>
    </tr>
    <tr>
    <td width="100", class="info">出版日</td> <td><%= @book.salesDate %></td>
    </tr>
    <tr>
    <td width="100", class="info">ISBN</td> <td><%= @book.isbn %></td>
    </tr>
  </tbody>
</table>
