<h2><%= @review.book.title %></h2>
<p><%= @review.user.name %>: </p>
<blockquote><%= @review.description %></blockquote>
<!-- <p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Book:</strong>
  <%= @review.book %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p> -->

<%= link_to 'Edit', edit_book_review_path(@review.book, @review) %> |
<%= link_to 'Back', reviews_path %>
